<div class="Presentation">

  <h2>Presentation du site</h2>
  <p>
    Les applications de partage (objets, services, …), de plus en plus nombreuses, sont en train de rendre crédible une économie dite de « partage » ou encore « collaborative ».<br> Dans cette application, nous avons opté pour le partage de cours, accessible
    par smartphone, ce qui pourrait intéresser des étudiants ou plus généralement des citoyens connectés.
  </p>
  <h2>Liste de cours</h2>
  <app-cours-liste [listeCours]="listeCours"></app-cours-liste>
</div>
